<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Studio | Analytics</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	
	<!-- ================== BEGIN core-css ================== -->
	<!-- <link href="assets/css/app.min.css" rel="stylesheet" /> -->
	<link rel='stylesheet' type="text/css" href="{% static 'css/app.min.css' %}">
	<link rel='stylesheet'  href="{% static 'plugins/bootstrap-daterangepicker/daterangepicker.css' %}">
	<!-- ================== END core-css ================== -->
	
	<!-- ================== BEGIN page-css ================== -->
	
	<!-- ================== END page-css ================== -->

</head>
<body>
	<!-- BEGIN #app -->
	<div id="app" class="app">
		<!-- BEGIN #header -->
		<div id="header" class="app-header">
			<!-- BEGIN mobile-toggler -->
			<div class="mobile-toggler">
				<button type="button" class="menu-toggler" data-toggle="sidebar-mobile">
					<span class="bar"></span>
					<span class="bar"></span>
				</button>
			</div>
			<!-- END mobile-toggler -->
			
			<!-- BEGIN brand -->
			<div class="brand">
				<div class="desktop-toggler">
					<button type="button" class="menu-toggler" data-toggle="sidebar-minify">
						<span class="bar"></span>
						<span class="bar"></span>
					</button>
				</div>
				
				<a href="#" class="brand-logo">
					<h2>PyStars</h2>
				</a>
			</div>
			<!-- END brand -->
			
			<!-- BEGIN menu -->
			<div class="menu">
				<form class="menu-search" method="POST" name="header_search_form">
				
					<div class="menu-search-input">
						
					</div>
				</form>
				<div class="menu-item dropdown">
					<a href="#" data-toggle="dropdown" data-display="static" class="menu-link">
						<div class="menu-icon"><i class="fa fa-bell nav-icon"></i></div>
						<div class="menu-label">3</div>
					</a>
					<div class="dropdown-menu dropdown-menu-right dropdown-notification">
						<h6 class="dropdown-header text-gray-900 mb-1">Notifications</h6>
						<a href="#" class="dropdown-notification-item">
							<div class="dropdown-notification-icon">
								<i class="fa fa-receipt fa-lg fa-fw text-success"></i>
							</div>
							<div class="dropdown-notification-info">
								<div class="title">Your store has a new order for 2 items totaling $1,299.00</div>
								<div class="time">just now</div>
							</div>
							<div class="dropdown-notification-arrow">
								<i class="fa fa-chevron-right"></i>
							</div>
						</a>
						<a href="#" class="dropdown-notification-item">
							<div class="dropdown-notification-icon">
								<i class="far fa-user-circle fa-lg fa-fw text-muted"></i>
							</div>
							<div class="dropdown-notification-info">
								<div class="title">3 new customer account is created</div>
								<div class="time">2 minutes ago</div>
							</div>
							<div class="dropdown-notification-arrow">
								<i class="fa fa-chevron-right"></i>
							</div>
						</a>
						<a href="#" class="dropdown-notification-item">
							<div class="dropdown-notification-icon">
								<img src="assets/img/icon/android.svg" alt="" width="26" />
							</div>
							<div class="dropdown-notification-info">
								<div class="title">Your android application has been approved</div>
								<div class="time">5 minutes ago</div>
							</div>
							<div class="dropdown-notification-arrow">
								<i class="fa fa-chevron-right"></i>
							</div>
						</a>
						<a href="#" class="dropdown-notification-item">
							<div class="dropdown-notification-icon">
								<img src="assets/img/icon/paypal.svg" alt="" width="26" />
							</div>
							<div class="dropdown-notification-info">
								<div class="title">Paypal payment method has been enabled for your store</div>
								<div class="time">10 minutes ago</div>
							</div>
							<div class="dropdown-notification-arrow">
								<i class="fa fa-chevron-right"></i>
							</div>
						</a>
						<div class="p-2 text-center mb-n1">
							<a href="#" class="text-gray-800 text-decoration-none">See all</a>
						</div>
					</div>
				</div>
				<div class="menu-item dropdown">
					<a href="#" data-toggle="dropdown" data-display="static" class="menu-link">
						<div class="menu-img online">
							<img src="{% static 'img/user/user.jpg' %}" alt="" class="mw-100 mh-100 rounded-circle" />
						</div>
						<div class="menu-text">{{user.email_address}}</div>
					</a>
					<div class="dropdown-menu dropdown-menu-right mr-lg-3">
						<a class="dropdown-item d-flex align-items-center" href="#">Edit Profile <i class="fa fa-user-circle fa-fw ml-auto text-gray-400 f-s-16"></i></a>
						<a class="dropdown-item d-flex align-items-center" href="#">Inbox <i class="fa fa-envelope fa-fw ml-auto text-gray-400 f-s-16"></i></a>
						<a class="dropdown-item d-flex align-items-center" href="#">Calendar <i class="fa fa-calendar-alt fa-fw ml-auto text-gray-400 f-s-16"></i></a>
						<a class="dropdown-item d-flex align-items-center" href="#">Setting <i class="fa fa-wrench fa-fw ml-auto text-gray-400 f-s-16"></i></a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item d-flex align-items-center" href="#">Log Out <i class="fa fa-toggle-off fa-fw ml-auto text-gray-400 f-s-16"></i></a>
					</div>
				</div>
			</div>
			<!-- END menu -->
		</div>
		<!-- END #header -->
		
		<!-- BEGIN #sidebar -->
		<div id="sidebar" class="app-sidebar">
			<!-- BEGIN scrollbar -->
			<div class="app-sidebar-content" data-scrollbar="true" data-height="100%">
				<!-- BEGIN menu -->
				<div class="menu">
					<div class="menu-header">Navigation</div>
					<div class="menu-item">
						<a href="/index" class="menu-link">
							<span class="menu-icon"><i class="fa fa-laptop"></i></span>
							<span class="menu-text">Dashboard</span>
						</a>
					</div>
					<div class="menu-item active">
						<a href="/analytics" class="menu-link">
							<span class="menu-icon"><i class="fa fa-chart-pie"></i></span>
							<span class="menu-text">Analytics</span>
						</a>
					</div>
				</div>
				<!-- END menu -->
			</div>
			<!-- END scrollbar -->
			
			<!-- BEGIN mobile-sidebar-backdrop -->
			<button class="app-sidebar-mobile-backdrop" data-dismiss="sidebar-mobile"></button>
			<!-- END mobile-sidebar-backdrop -->
		</div>
		<!-- END #sidebar -->
		
		<!-- BEGIN #content -->
		<div id="content" class="app-content">
			<!-- page header -->
			<h1 class="page-header">
				Analytics <small>stats, overview & performance</small>
			</h1>
			
			<!-- daterangepicker -->
			
		
			<!-- BEGIN card-columns -->
			<div class="card-columns mb-4">
				<!-- BEGIN card -->
				<div class="card">
					<div class="card-body">
						<!-- title -->
						<div class="d-flex align-items-center mb-2">
							<div class="flex-fill font-weight-600 fs-16px">Total sales</div>
							<a href="#">View report</a>
						</div>
					
						<!-- stats -->
						<div class="d-flex align-items-center mb-4 h3">
							<div>$821.50</div>
							<small class="fw-400 ml-auto text-success">+5%</small>
						</div>
					
						<!-- chart -->
						<div>
							<div class="fs-13px font-weight-600 mb-3">SALES OVER TIME</div>
							<div class="chart mb-2">
								<canvas id="chart1" class="w-100" height="190"></canvas>
							</div>
							<div class="d-flex align-items-center">
								<i class="fa fa-square text-gray-300 mr-2 ml-auto"></i> 
								<span class="fs-12px mr-4" data-id="prev-date">&nbsp;</span>
								<i class="fa fa-square text-primary mr-2"></i> 
								<span class="fs-12px" data-id="today-date">&nbsp;</span>
							</div>
						</div>
					</div>
				</div>
				<!-- END card -->
				
				<!-- BEGIN card -->
				<div class="card">
					<div class="card-body">
						<!-- title -->
						<div class="d-flex align-items-center mb-2">
							<div class="flex-fill font-weight-600 fs-16px">Online store sessions</div>
							<a href="#">View report</a>
						</div>
					
						<!-- stats -->
						<div class="d-flex align-items-center mb-4 h3">
							<div>39</div>
							<small class="fw-400 ml-auto text-danger">-2.5%</small>
						</div>
					
						<!-- stats small -->
						<div class="row mb-4">
							<div class="col-6">Visitors</div>
							<div class="col-3 text-center">2</div>
							<div class="col-3 text-right">
								<span class="text-danger">-</span> 50%
							</div>
						</div>
					
						<!-- chart -->
						<div>
							<div class="fs-13px font-weight-600 mb-3">SESSIONS OVER TIME</div>
							<div class="chart mb-2">
								<canvas id="chart2" class="w-100" height="190"></canvas>
							</div>
							<div class="d-flex align-items-center">
								<i class="fa fa-square text-gray-300 mr-2 ml-auto"></i> 
								<span class="fs-12px mr-4" data-id="prev-date">&nbsp;</span>
								<i class="fa fa-square text-blue mr-2"></i> 
								<span class="fs-12px" data-id="today-date">&nbsp;</span>
							</div>
						</div>
					</div>
				</div>
				<!-- END card -->
				
				<!-- BEGIN card -->
				
				<!-- END card -->
				
				<!-- BEGIN card -->
				<div class="card">
					<div class="card-body">
						<!-- title -->
						<div class="d-flex align-items-center mb-2">
							<div class="flex-fill font-weight-600 fs-16px">Returning customer rate</div>
						</div>
					
						<!-- stats -->
						<div class="d-flex align-items-center mb-4 h3">
							<div>52.85%</div>
							<small class="fw-400 ml-auto text-danger">-7%</small>
						</div>
					
						<!-- chart -->
						<div>
							<div class="fs-13px font-weight-600 mb-3">CUSTOMERS</div>
							<div class="chart mb-2">
								<canvas id="chart3" class="w-100" height="190"></canvas>
							</div>
							<div class="d-flex align-items-center">
								<i class="fa fa-square text-indigo mr-2 ml-auto"></i> 
								<span class="fs-12px mr-4">First-time</span>
								<i class="fa fa-square text-teal mr-2"></i> 
								<span class="fs-12px">Returning</span>
							</div>
						</div>
					</div>
				</div>
				<!-- END card -->
				
				<!-- BEGIN card -->
				
				<!-- END card -->
				
				<!-- BEGIN card -->
				<div class="card">
					<div class="card-body">
						<!-- title -->
						<div class="d-flex align-items-center mb-2">
							<div class="flex-fill font-weight-600 fs-16px">Average order value</div>
						</div>
					
						<!-- stats -->
						<div class="d-flex align-items-center mb-4 h3">
							<div>$35.12</div>
							<small class="fw-400 ml-auto text-danger">-3.2%</small>
						</div>
					
						<!-- chart -->
						<div>
							<div class="chart mb-2">
								<canvas id="chart4" class="w-100" height="190"></canvas>
							</div>
							<div class="d-flex align-items-center">
								<i class="fa fa-square text-gray-300 mr-2 ml-auto"></i> 
								<span class="fs-12px mr-4" data-id="prev-date">&nbsp;</span>
								<i class="fa fa-square text-blue mr-2"></i> 
								<span class="fs-12px" data-id="today-date">&nbsp;</span>
							</div>
						</div>
					</div>
				</div>
				<!-- END card -->
				
				<!-- BEGIN card -->
				<div class="card">
					<div class="card-body">
						<!-- title -->
						<div class="d-flex align-items-center mb-2">
							<div class="flex-fill font-weight-600 fs-16px">Total orders</div>
						</div>
					
						<!-- stats -->
						<div class="d-flex align-items-center mb-4 h3">
							<div>12</div>
							<small class="fw-400 ml-auto text-success">+57%</small>
						</div>
					
						<!-- chart -->
						<div>
							<div class="fs-13px font-weight-600 mb-3">ORDERS OVER TIME</div>
							<div class="chart mb-2">
								<canvas id="chart5" class="w-100" height="190"></canvas>
							</div>
							<div class="d-flex align-items-center">
								<i class="fa fa-square text-gray-300 mr-2 ml-auto"></i> 
								<span class="fs-12px mr-4" data-id="prev-date">&nbsp;</span>
								<i class="fa fa-square text-blue mr-2"></i> 
								<span class="fs-12px" data-id="today-date">&nbsp;</span>
							</div>
						</div>
					</div>
				</div>
				<!-- END card -->
				
				<!-- BEGIN card -->
				
				<!-- END card -->
				
				<!-- BEGIN card -->
				<!-- END card -->
				
				<!-- BEGIN card -->
				
				<!-- END card -->
			</div>
			<!-- END card-columns -->
		</div>
		<!-- END #content -->
		
		<!-- BEGIN btn-scroll-top -->
		<a href="#" data-click="scroll-top" class="btn-scroll-top fade"><i class="fa fa-arrow-up"></i></a>
		<!-- END btn-scroll-top -->
	</div>
	<!-- END #app -->
	
	<!-- ================== BEGIN core-js ================== -->
	
	<script src="{% static 'js/app.min.js' %}" ></script>
	<!-- ================== END core-js ================== -->
	
	<!-- ================== BEGIN page-js ================== -->
	<script src="{% static 'plugins/chart.js/dist/Chart.min.js' %}"></script>
	<script src="{% static 'plugins/moment/min/moment.min.js' %}"></script>
	<script src="{% static 'plugins/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
	<script src="{% static 'js/demo/analytics.demo.js' %}"></script>
	<!-- ================== END page-js ================== -->
</body>
</html>
